# MYHitch Nexus API — OpenAPI 3.1 specification
# SRS deliverable DEL-4 (solution architecture, data model, API specification).
# Generated from the mock-api service contract (src/lib/mock-api/index.ts, types.ts, hooks.ts).
# Do not hand-edit structural sections without regenerating — see docs/DEVELOPMENT-PLAN.md §2 and §9 item 7.

openapi: 3.1.0
info:
  title: MYHitch Nexus API
  version: 0.1.0-draft
  description: >-
    REST API specification for MYHitch Nexus (SRS deliverable DEL-4: solution architecture, data model and API
    specification).


    This specification is derived directly from the frontend prototype's mock service contract at
    `src/lib/mock-api/index.ts` — that file's own header states its ~96 typed async function signatures **are** the
    contract the real backend must implement (see `docs/DEVELOPMENT-PLAN.md` §2, "Strangle the mock API"). Every
    operation below traces to exactly one mock-api function, named in that operation's description as `Mock-API source`.


    Status: **draft, pre-implementation**. Nothing behind this contract exists yet — no backend, persistence, media
    pipeline or payment integration (see `docs/DEVELOPMENT-PLAN.md` §1). Endpoint shapes may still change as each domain
    is migrated phase by phase (P1–P4 per the development plan); this document is the current best specification, not a
    frozen contract.


    Cross-references: functional requirement IDs (FR-x.x.x), acceptance criteria (AC-x), security requirements (SEC-x)
    and data-model entities (DM-x) refer to `docs/SRS-TRACEABILITY.md`.
  contact:
    name: MYHitch Nexus Architecture
servers:
  - url: https://api.myhitchnexus.com.au/v1
    description: Production (target)
  - url: https://staging-api.myhitchnexus.com.au/v1
    description: Staging (target)
  - url: http://localhost:3000/api/v1
    description: Local development (Next.js route handlers)
security:
  - bearerAuth: []
tags:
  - name: Discovery & Catalogue
    description: Public homepage, search, catalogue browsing, channels and series (§6.1).
  - name: Identity & Profiles
    description: Registration, login, sessions, account/profile management, notifications (§6.2, §6.6.3).
  - name: Media & Upload
    description: Resumable upload, drafting, publishing, playlists (§6.3).
  - name: Playback & Entitlements
    description: Entitlement evaluation and watch-progress/resume (§6.4).
  - name: Live
    description: Live event scheduling, streaming, chat and polls (§6.5).
  - name: Social & Engagement
    description: Comments, ratings, likes, follows and watchlists (§6.6).
  - name: Commerce & Payments
    description: Purchases, rentals, subscriptions and the buyer-side commerce surface (§6.7).
  - name: Advertising
    description: Campaigns, creatives, leads and affiliate product links (§6.8).
  - name: Analytics
    description: Creator/business analytics and revenue reporting (§6.9).
  - name: Admin & Moderation
    description: Administration, moderation queue, audit log, case management, platform configuration (§6.10).
paths:
  /home/featured:
    get:
      operationId: getFeaturedContent
      summary: Get the personalised homepage rails
      description: >-
        Returns the hero carousel and content rails for the homepage (FR-6.1.1): continue watching, live/upcoming,
        films, followed channels, recommended, and per-vertical rails.


        _Mock-API source: `getFeaturedContent`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: Homepage content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedContent'
      security: []
  /videos:
    get:
      operationId: searchVideos
      summary: Search and list published videos
      description: >-
        Advanced catalogue search with keyword, facet filters and pagination (FR-6.1.3, FR-6.1.4). Backed by a
        Typesense/Elasticsearch index in the real implementation for typo tolerance and facet counts.


        _Mock-API source: `searchVideos`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: Paginated, faceted search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - name: query
          in: query
          required: false
          description: Free-text search across title, synopsis, tags, credits and channel name.
          schema:
            type: string
        - name: contentTypes
          in: query
          required: false
          description: Filter by content type(s).
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentType'
        - name: categoryIds
          in: query
          required: false
          description: Filter by category id(s).
          schema:
            type: array
            items:
              type: string
        - name: languages
          in: query
          required: false
          description: Filter by language(s).
          schema:
            type: array
            items:
              type: string
        - name: countries
          in: query
          required: false
          description: Filter by country of origin.
          schema:
            type: array
            items:
              type: string
        - name: accessModels
          in: query
          required: false
          description: Filter by access model(s).
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AccessModel'
        - name: ageRatings
          in: query
          required: false
          description: Filter by age rating(s).
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AgeRating'
        - name: minDurationSeconds
          in: query
          required: false
          description: Minimum duration filter.
          schema:
            type: integer
        - name: maxDurationSeconds
          in: query
          required: false
          description: Maximum duration filter.
          schema:
            type: integer
        - name: releaseYearFrom
          in: query
          required: false
          description: Earliest release year.
          schema:
            type: integer
        - name: releaseYearTo
          in: query
          required: false
          description: Latest release year.
          schema:
            type: integer
        - name: hasSubtitles
          in: query
          required: false
          description: Only return videos with at least one subtitle track.
          schema:
            type: boolean
        - name: freeOnly
          in: query
          required: false
          description: Only return free or ad-supported videos.
          schema:
            type: boolean
        - name: sort
          in: query
          required: false
          description: Sort order.
          schema:
            type: string
            enum:
              - relevance
              - popular
              - newest
              - rating
              - duration
        - name: channelId
          in: query
          required: false
          description: Restrict results to one channel.
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: 1-based page number.
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Results per page.
          schema:
            type: integer
            default: 24
      security: []
    post:
      operationId: publishDraft
      summary: Create a video from a completed draft
      description: >-
        Submits the upload wizard's draft — metadata, rights, pricing and status — to create the content record.
        **AC-3**: content that is sponsored, rated 18, or carries a content label is routed to the moderation queue
        instead of publishing directly, and this gate must hold even for a direct API call, not only the UI wizard.


        _Mock-API source: `publishDraft`._ Requires the 'creator', 'business' or 'producer' role.
      tags:
        - Media & Upload
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoDraft'
  /videos/{id}:
    get:
      operationId: getVideo
      summary: Get a video by id or slug
      description: >-
        Returns the full video-detail record (FR-6.1.5): synopsis, credits, ratings, language, subtitles and related
        metadata.


        _Mock-API source: `getVideo`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id or slug.
          schema:
            type: string
      security: []
    delete:
      operationId: deleteVideo
      summary: Delete a video
      description: |-
        Delete a video

        _Mock-API source: `deleteVideo`._ Requires ownership of the video's channel or an admin role.
      tags:
        - Media & Upload
      responses:
        '204':
          description: No content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
  /videos/{id}/related:
    get:
      operationId: getRelatedVideos
      summary: Get videos related to a given video
      description: >-
        Similarity-ranked related videos for the detail page's "related" rail (FR-6.1.5), scored by channel, content
        type, shared categories/tags and popularity.


        _Mock-API source: `getRelatedVideos`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of related videos to return.
          schema:
            type: integer
            default: 12
      security: []
  /categories:
    get:
      operationId: getCategories
      summary: List content categories
      description: |-
        Categories are platform configuration data (see /admin/config), not hardcoded — this proves that per FR-6.10.4.

        _Mock-API source: `getCategories`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
      security: []
  /categories/{slug}:
    get:
      operationId: getCategory
      summary: Get a category by slug
      description: |-
        Get a category by slug

        _Mock-API source: `getCategory`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: slug
          in: path
          required: true
          description: Category slug.
          schema:
            type: string
      security: []
  /channels/{id}:
    get:
      operationId: getChannel
      summary: Get a channel by id or handle
      description: |-
        Channel page for creators, businesses, film studios, education, government and non-profit publishers (FR-6.1.6).

        _Mock-API source: `getChannel`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Channel id or handle.
          schema:
            type: string
      security: []
    patch:
      operationId: updateChannel
      summary: Update a channel's profile
      description: |-
        Update a channel's profile

        _Mock-API source: `updateChannel`._ Requires ownership of the channel (creator/business) or an admin role.
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Channel id or handle.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelUpdate'
  /channels:
    get:
      operationId: getChannels
      summary: List channels
      description: |-
        Backs the Creators directory (FR-6.1.2).

        _Mock-API source: `getChannels`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
      security: []
  /channels/{id}/videos:
    get:
      operationId: getChannelVideos
      summary: List a channel's videos
      description: |-
        List a channel's videos

        _Mock-API source: `getChannelVideos`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - name: id
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
        - name: includeUnpublished
          in: query
          required: false
          description: >-
            Include draft/pending/scheduled videos. Requires ownership of the channel; ignored (treated as false)
            otherwise.
          schema:
            type: boolean
            default: false
      security: []
  /series:
    get:
      operationId: getSeries
      summary: List series
      description: |-
        Series/season/episode groupings (FR-6.3.7).

        _Mock-API source: `getSeries`._
      tags:
        - Discovery & Catalogue
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Series'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - name: channelId
          in: query
          required: false
          description: Restrict to one channel's series.
          schema:
            type: string
      security: []
  /auth/register:
    post:
      operationId: register
      summary: Register a new account
      description: >-
        Creates the account and role selection from the registration wizard (FR-6.2.2). Per DEC-6, this calls Auth0's
        Authentication API server-side (headless Resource Owner Password Grant) — no hosted-login redirect ever reaches
        the browser.


        _Mock-API source: `register`._
      tags:
        - Identity & Profiles
      responses:
        '201':
          description: Account created; email/mobile verification is now required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      security: []
  /auth/otp/verify:
    post:
      operationId: verifyOtp
      summary: Verify an email/mobile OTP code
      description: >-
        Confirms the one-time code sent by our own notification service (never Auth0's mailer, per the Auth0 integration
        standard) for FR-6.2.3 email/mobile verification.


        _Mock-API source: `verifyOtp`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpVerificationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
      security: []
  /auth/login:
    post:
      operationId: login
      summary: Sign in
      description: >-
        Verifies credentials against Auth0 server-side and issues Nexus's own session — the response is a Nexus session
        token, not an Auth0 token (DEC-6).


        _Mock-API source: `login`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: >-
            Signed in; the session token is returned via an HttpOnly cookie or the Authorization header per the chosen
            session strategy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      security: []
  /auth/logout:
    post:
      operationId: logout
      summary: Sign out
      description: |-
        Invalidates the current session.

        _Mock-API source: `logout`._
      tags:
        - Identity & Profiles
      responses:
        '204':
          description: No content.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me:
    get:
      operationId: getCurrentUser
      summary: Get the current account
      description: |-
        Get the current account

        _Mock-API source: `getCurrentUser`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateUser
      summary: Update the current account
      description: >-
        Profile management: name, country, language, notification preferences, parental controls, privacy settings
        (FR-6.2.4).


        _Mock-API source: `updateUser`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
  /me/active-profile:
    post:
      operationId: switchProfile
      summary: Switch the active viewer profile
      description: |-
        Selects among the up-to-5 age-banded viewer profiles on the account (FR-6.2.6).

        _Mock-API source: `switchProfile`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchProfileRequest'
  /me/active-role:
    post:
      operationId: setActiveRole
      summary: Switch the active role context
      description: >-
        An account may hold multiple additive roles (SRS §4); this selects which one is active for the current session's
        UI/permissions context.


        _Mock-API source: `setActiveRole`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetActiveRoleRequest'
  /me/request-country:
    get:
      operationId: getRequestCountry
      summary: Get the simulated request country
      description: >-
        Development/QA-only endpoint used to exercise geo-restriction logic (FR-6.4.6). In production the country is
        derived from the request (e.g. edge geo-IP), not read back from stored state.


        _Mock-API source: `getRequestCountry`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestCountryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: setRequestCountry
      summary: Set the simulated request country
      description: >-
        Development/QA-only endpoint — see GET /me/request-country. Not present in the production surface once real
        geo-IP resolution lands.


        _Mock-API source: `setRequestCountry`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestCountryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRequestCountryRequest'
  /me/notifications:
    get:
      operationId: getNotifications
      summary: List notifications
      description: |-
        New releases, live events, followed-channel activity, purchases and account activity (FR-6.6.3).

        _Mock-API source: `getNotifications`._
      tags:
        - Identity & Profiles
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppNotification'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/notifications/{id}/read:
    post:
      operationId: markNotificationRead
      summary: Mark one notification read
      description: |-
        Mark one notification read

        _Mock-API source: `markNotificationRead`._
      tags:
        - Identity & Profiles
      responses:
        '204':
          description: No content.
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Notification id.
          schema:
            type: string
  /me/notifications/read-all:
    post:
      operationId: markAllNotificationsRead
      summary: Mark all notifications read
      description: |-
        Mark all notifications read

        _Mock-API source: `markAllNotificationsRead`._
      tags:
        - Identity & Profiles
      responses:
        '204':
          description: No content.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /uploads:
    post:
      operationId: createUploadSession
      summary: Start a resumable upload session
      description: >-
        Begins a resumable direct-to-storage upload (FR-6.3.1). The real implementation issues a tus-protocol upload URL
        against the media provider (Mux/Cloudflare); this session tracks progress for the wizard.


        _Mock-API source: `createUploadSession`._
      tags:
        - Media & Upload
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadSessionRequest'
  /uploads/{id}/chunks:
    post:
      operationId: advanceUpload
      summary: Acknowledge the next uploaded chunk
      description: >-
        Advances the resumable transfer by one chunk, surfacing progress/failure state so the UI can pause, retry or
        resume without restarting (FR-6.3.1). Not part of the tus protocol surface itself — represents the provider's
        progress callback in the real system.


        _Mock-API source: `advanceUpload`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Upload session id.
          schema:
            type: string
  /uploads/{id}/pause:
    post:
      operationId: pauseUpload
      summary: Pause an in-progress upload
      description: |-
        Pause an in-progress upload

        _Mock-API source: `pauseUpload`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Upload session id.
          schema:
            type: string
  /uploads/{id}/resume:
    post:
      operationId: resumeUpload
      summary: Resume a paused or failed upload
      description: |-
        Resumes from the last completed chunk rather than restarting the transfer (FR-6.3.1).

        _Mock-API source: `resumeUpload`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Upload session id.
          schema:
            type: string
  /uploads/{id}:
    get:
      operationId: getUploadSession
      summary: Get an upload session's status
      description: |-
        Get an upload session's status

        _Mock-API source: `getUploadSession`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Upload session id.
          schema:
            type: string
  /uploads/{id}/thumbnail-suggestions:
    get:
      operationId: getThumbnailSuggestions
      summary: Get automated thumbnail suggestions
      description: |-
        Provider frame-extraction suggestions with confidence scores, alongside custom upload (FR-6.3.4).

        _Mock-API source: `getThumbnailSuggestions`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThumbnailSuggestion'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Upload session id.
          schema:
            type: string
  /videos/{id}/status:
    patch:
      operationId: updateVideoStatus
      summary: Change a video's publication status
      description: >-
        Draft, private, unlisted, scheduled, published or archived (FR-6.3.6). **AC-3**: transitioning to 'published'
        must re-run the same server-side completeness/rights gate as initial publish.


        _Mock-API source: `updateVideoStatus`._ Requires ownership of the video's channel or an admin/moderator role.
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVideoStatusRequest'
  /videos/bulk-import/validate:
    post:
      operationId: validateBulkImport
      summary: Validate a bulk metadata import batch
      description: >-
        Row-level validation for CSV/XML bulk import, for approved enterprise/distributor accounts (FR-6.3.9). Returns a
        per-row ready/warning/error report before any row is committed.


        _Mock-API source: `validateBulkImport`._ Requires an approved enterprise/distributor account.
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkImportRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The parsed import batch (CSV/XML) to validate. Shape mirrors the distributor bulk-import template.
              additionalProperties: true
  /channels/{channelId}/playlists:
    get:
      operationId: getPlaylists
      summary: List a channel's playlists
      description: |-
        List a channel's playlists

        _Mock-API source: `getPlaylists`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Playlist'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /playlists/{id}:
    get:
      operationId: getPlaylist
      summary: Get a playlist
      description: |-
        Get a playlist

        _Mock-API source: `getPlaylist`._
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Playlist id.
          schema:
            type: string
    patch:
      operationId: updatePlaylist
      summary: Update a playlist
      description: |-
        Update a playlist

        _Mock-API source: `updatePlaylist`._ Requires ownership of the playlist's channel.
      tags:
        - Media & Upload
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Playlist id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlaylistRequest'
  /playlists:
    post:
      operationId: createPlaylist
      summary: Create a playlist
      description: |-
        Create a playlist

        _Mock-API source: `createPlaylist`._ Requires ownership of the target channel.
      tags:
        - Media & Upload
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
  /videos/{id}/entitlement:
    get:
      operationId: getEntitlement
      summary: Evaluate playback entitlement for a video
      description: >-
        The single playback-authorisation check (DM-7): evaluates rights territory, release window, age rating/parental
        controls and purchase/subscription state before any signed playback URL is issued. **FR-6.4.6 / no signed URL is
        ever returned without a passing entitlement check.**


        _Mock-API source: `getEntitlement`._
      tags:
        - Playback & Entitlements
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entitlement'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
  /videos/{id}/watch-progress:
    get:
      operationId: getWatchProgress
      summary: Get watch progress for a video
      description: |-
        Get watch progress for a video

        _Mock-API source: `getWatchProgress`._
      tags:
        - Playback & Entitlements
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchProgress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
    put:
      operationId: saveWatchProgress
      summary: Save watch progress for a video
      description: |-
        Called on a heartbeat (~every 10s) so resume-across-devices works (FR-6.4.4).

        _Mock-API source: `saveWatchProgress`._
      tags:
        - Playback & Entitlements
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchProgress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveWatchProgressRequest'
  /me/continue-watching:
    get:
      operationId: getContinueWatching
      summary: List in-progress videos to continue watching
      description: |-
        List in-progress videos to continue watching

        _Mock-API source: `getContinueWatching`._
      tags:
        - Playback & Entitlements
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContinueWatchingEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /live-events:
    get:
      operationId: getLiveEvents
      summary: List live events
      description: |-
        List live events

        _Mock-API source: `getLiveEvents`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by live-event status.
          schema:
            $ref: '#/components/schemas/LiveStatus'
      security: []
    post:
      operationId: createLiveEvent
      summary: Schedule a live event
      description: >-
        Title, description, time zone, poster, access rules and pricing (FR-6.5.1). The server assigns the stream key
        and ingest URL — see FR-6.5.2 for key handling.


        _Mock-API source: `createLiveEvent`._ Requires ownership of the channel.
      tags:
        - Live
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveEventRequest'
  /live-events/{id}:
    get:
      operationId: getLiveEvent
      summary: Get a live event
      description: |-
        Get a live event

        _Mock-API source: `getLiveEvent`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
      security: []
  /channels/{channelId}/live-events:
    get:
      operationId: getChannelLiveEvents
      summary: List a channel's live events
      description: |-
        List a channel's live events

        _Mock-API source: `getChannelLiveEvents`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveEvent'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
      security: []
  /live-events/{id}/stream-key/regenerate:
    post:
      operationId: regenerateStreamKey
      summary: Rotate a live event's stream key
      description: |-
        Stream keys are stored encrypted and never logged (FR-6.5.2).

        _Mock-API source: `regenerateStreamKey`._ Requires ownership of the channel.
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  streamKey:
                    type: string
                required:
                  - streamKey
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
  /live-events/{id}/replay/publish:
    post:
      operationId: publishReplay
      summary: Publish the replay of an ended live event
      description: |-
        Auto-recorded stream becomes a VOD asset in the channel archive (FR-6.5.5).

        _Mock-API source: `publishReplay`._ Requires ownership of the channel.
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
  /live-events/{id}/end:
    post:
      operationId: endLiveEvent
      summary: End a live broadcast
      description: |-
        End a live broadcast

        _Mock-API source: `endLiveEvent`._ Requires ownership of the channel.
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
  /live-events/{id}/chat:
    get:
      operationId: getChatMessages
      summary: List chat messages for a live event
      description: |-
        List chat messages for a live event

        _Mock-API source: `getChatMessages`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
    post:
      operationId: sendChatMessage
      summary: Send a live chat message
      description: |-
        Live chat with moderation, slow mode and blocked-word rules (FR-6.5.4).

        _Mock-API source: `sendChatMessage`._
      tags:
        - Live
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessageRequest'
  /live-chat-messages/{messageId}/moderate:
    post:
      operationId: moderateChatMessage
      summary: Moderate a live chat message
      description: |-
        Moderate a live chat message

        _Mock-API source: `moderateChatMessage`._ Requires a moderator role on the hosting channel or an admin role.
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: messageId
          in: path
          required: true
          description: Chat message id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateChatMessageRequest'
  /live-events/{id}/polls:
    get:
      operationId: getPolls
      summary: List polls for a live event
      description: |-
        List polls for a live event

        _Mock-API source: `getPolls`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Poll'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Live event id.
          schema:
            type: string
  /polls/{pollId}/vote:
    post:
      operationId: votePoll
      summary: Vote in a live poll
      description: |-
        Vote in a live poll

        _Mock-API source: `votePoll`._
      tags:
        - Live
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Poll'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: pollId
          in: path
          required: true
          description: Poll id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VotePollRequest'
  /videos/{id}/comments:
    get:
      operationId: getComments
      summary: List comments on a video
      description: |-
        List comments on a video

        _Mock-API source: `getComments`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      security: []
    post:
      operationId: postComment
      summary: Post a comment on a video
      description: |-
        Post a comment on a video

        _Mock-API source: `postComment`._
      tags:
        - Social & Engagement
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommentRequest'
  /comments/{commentId}/replies:
    post:
      operationId: replyToComment
      summary: Reply to a comment
      description: |-
        Reply to a comment

        _Mock-API source: `replyToComment`._
      tags:
        - Social & Engagement
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: commentId
          in: path
          required: true
          description: Parent comment id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommentRequest'
  /comments/{commentId}/moderate:
    post:
      operationId: moderateComment
      summary: Moderate a comment
      description: |-
        Publish, hold, remove, pin or heart — the channel-owner comment controls from FR-6.6.2.

        _Mock-API source: `moderateComment`._ Requires ownership of the hosting channel or an admin/moderator role.
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: commentId
          in: path
          required: true
          description: Comment id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateCommentRequest'
  /channels/{channelId}/comments/moderation-queue:
    get:
      operationId: getModerationComments
      summary: List comments awaiting a channel's moderation
      description: |-
        List comments awaiting a channel's moderation

        _Mock-API source: `getModerationComments`._ Requires ownership of the channel.
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /videos/{id}/rating:
    put:
      operationId: rateVideo
      summary: Rate a video
      description: |-
        Rate a video

        _Mock-API source: `rateVideo`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateVideoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateVideoRequest'
  /videos/{id}/rating/me:
    get:
      operationId: getMyRating
      summary: Get the current user's rating for a video
      description: |-
        Get the current user's rating for a video

        _Mock-API source: `getMyRating`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
  /videos/{id}/like:
    post:
      operationId: likeVideo
      summary: Like a video
      description: |-
        Like a video

        _Mock-API source: `likeVideo`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
  /me/watchlist:
    get:
      operationId: getWatchlist
      summary: Get the current user's watchlist
      description: |-
        Get the current user's watchlist

        _Mock-API source: `getWatchlist`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/watchlist/{videoId}/toggle:
    post:
      operationId: toggleWatchlist
      summary: Toggle a video's watchlist membership
      description: |-
        Toggle a video's watchlist membership

        _Mock-API source: `toggleWatchlist`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: videoId
          in: path
          required: true
          description: Video id.
          schema:
            type: string
  /channels/{id}/follow:
    post:
      operationId: toggleFollow
      summary: Toggle following a channel
      description: |-
        Toggle following a channel

        _Mock-API source: `toggleFollow`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /channels/{id}/follow-status:
    get:
      operationId: isFollowing
      summary: Check whether the current user follows a channel
      description: |-
        Check whether the current user follows a channel

        _Mock-API source: `isFollowing`._
      tags:
        - Social & Engagement
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /videos/{id}/purchases:
    post:
      operationId: purchaseAccess
      summary: Purchase, rent or pay-per-view a video
      description: >-
        Creates a Stripe Checkout session server-side in the real implementation; the entitlement is granted only once
        Stripe's webhook confirms payment. **AC-5: this must be implemented idempotently (an idempotency key per
        checkout attempt) and a failed, timed-out or duplicate-webhook payment must never grant access.**


        _Mock-API source: `purchaseAccess`._
      tags:
        - Commerce & Payments
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: Video id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
  /subscriptions:
    post:
      operationId: startSubscription
      summary: Start a platform or channel-membership subscription
      description: >-
        Stripe Billing subscription creation (MON-5/MON-6). Omit `channelId` for the platform plan; supply it for a
        channel membership. Subject to the same AC-5 idempotency requirement as one-off purchases.


        _Mock-API source: `startSubscription`._
      tags:
        - Commerce & Payments
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSubscriptionRequest'
  /me/purchases:
    get:
      operationId: getPurchases
      summary: List the current user's purchases
      description: |-
        List the current user's purchases

        _Mock-API source: `getPurchases`._
      tags:
        - Commerce & Payments
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/subscriptions:
    get:
      operationId: getSubscriptions
      summary: List the current user's subscriptions
      description: |-
        List the current user's subscriptions

        _Mock-API source: `getSubscriptions`._
      tags:
        - Commerce & Payments
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/subscriptions/{id}/cancel:
    post:
      operationId: cancelSubscription
      summary: Cancel a subscription
      description: |-
        Cancel a subscription

        _Mock-API source: `cancelSubscription`._
      tags:
        - Commerce & Payments
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Subscription id.
          schema:
            type: string
  /campaigns:
    get:
      operationId: getCampaigns
      summary: List advertising campaigns
      description: |-
        List advertising campaigns

        _Mock-API source: `getCampaigns`._ Advertisers see only their own campaigns; admins may see all.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: advertiserId
          in: query
          required: false
          description: Restrict to one advertiser.
          schema:
            type: string
    post:
      operationId: createCampaign
      summary: Create an advertising campaign
      description: >-
        Advertiser onboarding step: budget, dates, targeting and creative upload (FR-6.8.1). Created in 'pending' status
        and automatically queued at /admin/moderation/queue — **FR-6.8.6: campaigns and their creatives cannot deliver
        without administrative approval.**


        _Mock-API source: `createCampaign`._ Requires the 'advertiser' or 'business' role.
      tags:
        - Advertising
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
  /campaigns/{id}:
    get:
      operationId: getCampaign
      summary: Get a campaign
      description: |-
        Get a campaign

        _Mock-API source: `getCampaign`._ Requires ownership of the campaign or an admin role.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Campaign id.
          schema:
            type: string
  /campaigns/{id}/status:
    patch:
      operationId: updateCampaignStatus
      summary: Change a campaign's status
      description: >-
        Change a campaign's status


        _Mock-API source: `updateCampaignStatus`._ Requires an admin role for approval decisions; the owning advertiser
        may pause/resume.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Campaign id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignStatusRequest'
  /channels/{channelId}/leads:
    get:
      operationId: getLeads
      summary: List commercial leads for a channel
      description: |-
        List commercial leads for a channel

        _Mock-API source: `getLeads`._ Requires ownership of the channel.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lead'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /leads/{id}/status:
    patch:
      operationId: updateLeadStatus
      summary: Update a lead's status
      description: |-
        Update a lead's status

        _Mock-API source: `updateLeadStatus`._ Requires ownership of the lead's channel.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Lead id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeadStatusRequest'
  /channels/{channelId}/product-links:
    get:
      operationId: getProductLinks
      summary: List a channel's affiliate product links
      description: |-
        'Shop this video' commerce links, optionally cross-linked to MYHitch Mart (MON-8, INT-1).

        _Mock-API source: `getProductLinks`._
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /product-links:
    post:
      operationId: createProductLink
      summary: Create an affiliate product link
      description: |-
        Create an affiliate product link

        _Mock-API source: `createProductLink`._ Requires ownership of the target channel.
      tags:
        - Advertising
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductLinkRequest'
  /campaigns/{id}/timeseries:
    get:
      operationId: getCampaignSeries
      summary: Get a campaign's daily performance time series
      description: |-
        Impressions, completed views, clicks, conversions and spend by day (FR-6.8.5).

        _Mock-API source: `getCampaignSeries`._ Requires ownership of the campaign or an admin role.
      tags:
        - Advertising
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignTimeseriesPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: id
          in: path
          required: true
          description: Campaign id.
          schema:
            type: string
        - name: days
          in: query
          required: false
          description: Number of trailing days to return.
          schema:
            type: integer
            default: 28
  /channels/{channelId}/analytics:
    get:
      operationId: getCreatorAnalytics
      summary: Get creator/business analytics for a channel
      description: >-
        Views, unique viewers, watch time, completion rate, retention curve, traffic sources and per-video revenue
        (FR-6.9.1, FR-6.9.2). **FR-6.9.6: the real implementation must suppress cells below a minimum reporting
        threshold and never expose per-viewer identity.**


        _Mock-API source: `getCreatorAnalytics`._ Requires ownership of the channel or an admin role.
      tags:
        - Analytics
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorAnalytics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
        - name: range
          in: query
          required: false
          description: Reporting window.
          schema:
            $ref: '#/components/schemas/AnalyticsRange'
  /channels/{channelId}/revenue-summary:
    get:
      operationId: getRevenueSummary
      summary: Get a channel's revenue and payout summary
      description: >-
        Available/pending/lifetime balances, revenue-by-stream breakdown and the transaction ledger feeding creator
        earnings statements (MON-10).


        _Mock-API source: `getRevenueSummary`._ Requires ownership of the channel or a finance-admin role.
      tags:
        - Analytics
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: channelId
          in: path
          required: true
          description: Channel id.
          schema:
            type: string
  /admin/summary:
    get:
      operationId: getAdminSummary
      summary: Get the admin dashboard summary
      description: >-
        Pending content, reported content, copyright claims, live incidents, verification queue, campaigns awaiting
        approval, revenue and payouts due (FR-6.10.1).


        _Mock-API source: `getAdminSummary`._ Requires a moderator, finance-admin or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboardSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/moderation/queue:
    get:
      operationId: getModerationQueue
      summary: List the moderation queue
      description: |-
        List the moderation queue

        _Mock-API source: `getModerationQueue`._ Requires a moderator or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModerationItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: queue
          in: query
          required: false
          description: Filter to one sub-queue.
          schema:
            type: string
            enum:
              - pending-review
              - reported
              - copyright
              - live-incident
              - verification
  /admin/moderation/queue/{itemId}/action:
    post:
      operationId: actionModerationItem
      summary: Apply a moderation action to a queue item
      description: >-
        Approve, reject, request changes, restrict, demonetise, geo-block, age-restrict, suspend or remove (FR-6.10.2).
        Every application is written to the append-only audit log (FR-6.10.5, SEC-9) and propagated to the underlying
        content/campaign/organisation/comment record.


        _Mock-API source: `actionModerationItem`._ Requires a moderator or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationActionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: itemId
          in: path
          required: true
          description: Moderation queue item id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionModerationItemRequest'
  /admin/audit-log:
    get:
      operationId: getAuditLog
      summary: Search the audit log
      description: >-
        Append-only, tamper-evident trail of privileged actions (SEC-9, FR-6.10.5).


        _Mock-API source: `getAuditLog`._ Requires a super-admin role (or a scoped admin role viewing its own action
        history).
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: actor
          in: query
          required: false
          description: Filter by actor name.
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: Filter by severity.
          schema:
            type: string
            enum:
              - info
              - notice
              - warning
              - critical
        - name: targetType
          in: query
          required: false
          description: Filter by target type.
          schema:
            type: string
        - name: query
          in: query
          required: false
          description: Free-text search across action, actor, reason and target id.
          schema:
            type: string
  /admin/users:
    get:
      operationId: getAdminUsers
      summary: List users for administration
      description: |-
        List users for administration

        _Mock-API source: `getAdminUsers`._ Requires a super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminUserRow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/users/{userId}/roles:
    patch:
      operationId: updateUserRole
      summary: Update a user's roles
      description: >-
        Update a user's roles


        _Mock-API source: `updateUserRole`._ Requires a super-admin role. Role grants require a reason (SEC-1,
        FR-6.10.3).
      tags:
        - Admin & Moderation
      responses:
        '204':
          description: No content.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: userId
          in: path
          required: true
          description: User id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoleRequest'
  /admin/users/{userId}/status:
    patch:
      operationId: updateUserStatus
      summary: Update a user's account status
      description: |-
        Active, suspended, pending or closed (FR-6.10.3).

        _Mock-API source: `updateUserStatus`._ Requires a super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '204':
          description: No content.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: userId
          in: path
          required: true
          description: User id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserStatusRequest'
  /admin/organisations:
    get:
      operationId: getOrganisations
      summary: List organisations pending or completed verification
      description: |-
        Business/organisation verification records with document and timeline state (FR-6.2.5).

        _Mock-API source: `getOrganisations`._ Requires a moderator or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/organisations/{orgId}/status:
    patch:
      operationId: updateOrganisationStatus
      summary: Decide an organisation's verification status
      description: |-
        Decide an organisation's verification status

        _Mock-API source: `updateOrganisationStatus`._ Requires a moderator or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: orgId
          in: path
          required: true
          description: Organisation id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganisationStatusRequest'
  /admin/cases:
    get:
      operationId: getCases
      summary: List case-management cases
      description: |-
        Legal, safety, payment and copyright escalations (FR-6.10.6).

        _Mock-API source: `getCases`._ Requires a moderator, finance-admin or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminCase'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/cases/{caseId}/notes:
    post:
      operationId: addCaseNote
      summary: Add a note to a case
      description: |-
        A 'resolution' note closes the case; an 'escalation' note raises its status (FR-6.10.6).

        _Mock-API source: `addCaseNote`._ Requires a moderator, finance-admin or super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCase'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - name: caseId
          in: path
          required: true
          description: Case id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCaseNoteRequest'
  /admin/config:
    get:
      operationId: getPlatformConfig
      summary: Get all platform configuration tables
      description: |-
        Categories, content labels, pricing rules, commissions, taxes, currencies and payout rules (FR-6.10.4).

        _Mock-API source: `getPlatformConfig`._ Requires a super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformConfigTables'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/config/categories:
    post:
      operationId: addCategory
      summary: Add a content category
      description: |-
        Add a content category

        _Mock-API source: `addCategory`._ Requires a super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '201':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCategoryRequest'
  /admin/config/{table}:
    put:
      operationId: updateConfigTable
      summary: Replace the rows of one platform-configuration table
      description: |-
        Every change is versioned with an effective date and written to the audit log (FR-6.10.4).

        _Mock-API source: `updateConfigTable`._ Requires a super-admin role.
      tags:
        - Admin & Moderation
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformConfigTables'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
        - name: table
          in: path
          required: true
          description: Configuration table name.
          schema:
            type: string
            enum:
              - categories
              - contentLabels
              - pricingRules
              - commissions
              - taxes
              - currencies
              - payoutRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigTableRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Nexus's own session token, issued after our backend verifies credentials against Auth0 server-side (Resource
        Owner Password Grant) or verifies a Google/Apple ID token directly against that provider's JWKS. This is
        deliberately **not** an Auth0-issued access/id token: per `docs/DEVELOPMENT-PLAN.md`'s Auth0 integration
        standard (DEC-6), Auth0 is called only for credential verification and MFA — no `auth0.com` URL, hosted-login
        redirect, or Auth0 token ever reaches the browser. The bearer token here is Nexus's own session, carried as an
        HttpOnly cookie or an Authorization header depending on client type.
  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: No valid session token was supplied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The authenticated user is not permitted to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ContentType:
      type: string
      description: The 11-type content taxonomy driving discovery, IA and category rules (SRS §5, FR-6.1.1).
      enum:
        - commercial
        - film
        - entertainment
        - education
        - news
        - documentary
        - live
        - tourism
        - government
        - nonprofit
        - user-generated
    ContentStatus:
      type: string
      description: >-
        Publication state machine for a content record (FR-6.3.6). AC-3 requires the transition into 'published' to be
        gated server-side.
      enum:
        - draft
        - pending
        - published
        - scheduled
        - private
        - unlisted
        - restricted
        - rejected
        - archived
    AccessModel:
      type: string
      description: Monetisation model(s) a video can be offered under (§6.7).
      enum:
        - free
        - ad-supported
        - rent
        - buy
        - subscription
        - ppv
        - membership
    AgeRating:
      type: string
      description: UK-style age classification.
      enum:
        - U
        - PG
        - '12'
        - '15'
        - '18'
    ChannelKind:
      type: string
      description: Determines badge and publishing capabilities for a channel (FR-6.1.6).
      enum:
        - creator
        - business
        - film-studio
        - education
        - government
        - nonprofit
        - news
    UserRole:
      type: string
      description: >-
        Additive account roles (SRS §4 / ROLE-1..11). A user's `roles` array may hold more than one; `activeRole`
        selects the current context.
      enum:
        - viewer
        - creator
        - business
        - advertiser
        - producer
        - education
        - organisation
        - admin
    LiveStatus:
      type: string
      enum:
        - upcoming
        - live
        - ended
        - replay
        - cancelled
    LiveAccessType:
      type: string
      description: Access mode for a live event (FR-6.5.3).
      enum:
        - public
        - private
        - ticketed
        - subscriber-only
        - invitation-only
    CampaignStatus:
      type: string
      enum:
        - draft
        - pending
        - active
        - paused
        - completed
        - rejected
    ModerationAction:
      type: string
      description: Single moderation-action vocabulary applied across content, comments, channels and campaigns (FR-6.10.2).
      enum:
        - approve
        - reject
        - request-changes
        - restrict
        - demonetise
        - geo-block
        - age-restrict
        - suspend
        - remove
    EntitlementReason:
      type: string
      enum:
        - free
        - ad-supported
        - purchased
        - rented
        - subscription
        - membership
        - ticket
        - owner
        - preview
        - none
    PlaybackBlockReason:
      type: string
      enum:
        - entitlement-required
        - geo-restricted
        - preview-limit
        - age-gate
        - unavailable
    NotificationEvent:
      type: string
      enum:
        - new-upload
        - live-starting
        - reply
        - mention
        - purchase-receipt
        - rental-expiring
        - payout
        - policy
    AnalyticsRange:
      type: string
      enum:
        - 7d
        - 28d
        - 90d
        - 365d
    CurrencyCode:
      type: string
      enum:
        - GBP
        - USD
        - EUR
        - LKR
    UploadPhase:
      type: string
      enum:
        - idle
        - uploading
        - paused
        - failed
        - processing
        - complete
    Error:
      type: object
      description: Standard error envelope returned for every non-2xx response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code, e.g. NOT_FOUND, VALIDATION_FAILED.
            message:
              type: string
              description: Human-readable explanation.
            details:
              type: object
              additionalProperties: true
              description: Optional field-level validation errors or extra context.
          required:
            - code
            - message
      required:
        - error
    Money:
      type: object
      description: Monetary amount in minor units (pence/cents) so nothing hits float rounding.
      properties:
        amount:
          type: integer
          description: Amount in minor units.
        currency:
          $ref: '#/components/schemas/CurrencyCode'
      required:
        - amount
        - currency
    Category:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        contentType:
          $ref: '#/components/schemas/ContentType'
        featured:
          type: boolean
          description: Configurable from /admin/settings — categories are data, not code.
        videoCount:
          type: integer
        accentToken:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
        imageUrl:
          type: string
          format: uri
      required:
        - id
        - slug
        - name
        - description
        - contentType
        - featured
        - videoCount
        - accentToken
    SubtitleTrack:
      type: object
      properties:
        id:
          type: string
        language:
          type: string
        languageCode:
          type: string
        kind:
          type: string
          enum:
            - subtitles
            - captions
            - sdh
            - descriptions
        autoGenerated:
          type: boolean
        status:
          type: string
          enum:
            - ready
            - generating
            - failed
      required:
        - id
        - language
        - languageCode
        - kind
        - status
    AudioTrack:
      type: object
      properties:
        id:
          type: string
        language:
          type: string
        languageCode:
          type: string
        kind:
          type: string
          enum:
            - original
            - dubbed
            - audio-description
            - commentary
      required:
        - id
        - language
        - languageCode
        - kind
    QualityLevel:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        height:
          type: integer
        bitrateKbps:
          type: integer
      required:
        - id
        - label
        - height
        - bitrateKbps
    CreditEntry:
      type: object
      properties:
        role:
          type: string
        name:
          type: string
        character:
          type: string
      required:
        - role
        - name
    AffiliateCommerceLink:
      type: object
      description: A 'shop this video' affiliate link (MON-8), optionally cross-linked to a MYHitch Mart product (INT-1).
      properties:
        id:
          type: string
        label:
          type: string
        productName:
          type: string
        price:
          $ref: '#/components/schemas/Money'
        martProductId:
          type: string
          description: MYHitch Mart catalogue reference, if cross-linked.
        timestampSeconds:
          type: integer
      required:
        - id
        - label
        - productName
        - price
    VideoPricing:
      type: object
      properties:
        accessModels:
          type: array
          items:
            $ref: '#/components/schemas/AccessModel'
        rentPrice:
          $ref: '#/components/schemas/Money'
        buyPrice:
          $ref: '#/components/schemas/Money'
        ppvPrice:
          $ref: '#/components/schemas/Money'
        rentalWindowHours:
          type: integer
        membershipTier:
          type: string
        sponsored:
          type: boolean
          description: 'MON-7: mandatory non-dismissible disclosure when true.'
        sponsorName:
          type: string
        affiliateLinks:
          type: array
          items:
            $ref: '#/components/schemas/AffiliateCommerceLink'
      required:
        - accessModels
    VideoRights:
      type: object
      description: >-
        Rights declaration gating publication (FR-6.3.8, DM-6). AC-3 requires this to be complete before a video can
        publish.
      properties:
        declaredOwner:
          type: string
        ownershipConfirmed:
          type: boolean
        licenceStart:
          type: string
          format: date-time
        licenceEnd:
          type:
            - string
            - 'null'
          format: date-time
        permittedCountries:
          type: array
          items:
            type: string
          description: ISO-3166 alpha-2. Empty array means worldwide.
        blockedCountries:
          type: array
          items:
[...]
